In [ ]:
#Assignment 4
#Student of Datatrained -Saurav
#Student of Data Science

In [1]:
#Loops /if
#Loops /if
#x=0
##define a while loop
#while(x <4):
#  print(x)
#  x = x+1#

In [2]:
x=0
while x <=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#Task:
#Print First 10 natural numbers using while loop

In [4]:
x=0
while x<=10:
    print(x)
    x=x+1

0
1
2
3
4
5
6
7
8
9
10

In [5]:
## program 1: Print first 10 natural numbers
#i = 1
#while i <= 10:
#    print(i)
#    i=i+1

In [6]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
#for x in range(2,7):
#  print(x)

In [8]:
for x in range(2,7):
    print(x)

2
3
4
5
6

In [9]:
#Months = ["Jan","Feb","Mar","April","May","June"]
#for m in Months:
#  print(m)

In [10]:
months=["jan","feb","mar","april","may","june"]

In [11]:
for m in months:
    print(m)

jan
feb
mar
april
may
june

In [12]:
# # Measure some strings:
#
# words = ['cat', 'window', 'defenestrate']
#
#for w in words:
#
# print(w)
#
#for w in words:
#
# print(w, len(w))
#

In [13]:
words=["cat","windows","defenestrate"]

In [14]:
for w in words:
    print(w)

cat
windows
defenestrate

In [15]:
for w in words:
    print(w,len(w))

cat 3
windows 7
defenestrate 12

In [16]:
#range(5, 10)
#range(0, 10, 3)
#list(range(9))

In [17]:
range(5,10)

range(5, 10)

In [18]:
range(0,10,3)

range(0, 10, 3)

In [19]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [20]:
#a = ['Mary', 'had', 'a', 'little', 'lamb']
#for i in range(len(a)):
# print(i)

In [23]:
a=["mary",'had','a','little','lamb']
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [24]:
#x=8
#y=4
# if(x < y):
#  st= "x is less than y"
# else:
#  st= "x is greater than y"
# print (st)

In [25]:
x=8
y=4
if (x<y):
    st="x is less than y"
else:
    st="x is greater than y"
print(st)

x is greater than y

In [27]:
#x = int(input("Please enter an integer: "))
##Please enter an integer: 42
# if x < 0:
#... x = 0
#... print('Negative changed to zero')
#elif x == 0:
#... print('Zero')
#elif x == 1:
#... print('Single')
#else:
#... print('More')

In [30]:
x=int(input("Enter an integer  "))
if x<=0:
    print("Negative changer to zero ")
elif x==0:
    print("z in equal to 0 ")
elif x==1:
    print(" x is eqaul to q ")
else:
    print("More than one and zero ")

Enter an integer  42
More than one and zero

In [31]:
#Task :write a program using if-elif with different country value and total values.
#total = 100
# #country = "US"
#country = "AU"
#if country == "US":
#    if total <= 50:
#        print("Shipping Cost is $50")
#elif total <= 100:
#        print("Shipping Cost is $25")
#elif total <= 150:
#     print("Shipping Costs $5")
#else:
#        print("FREE")

In [36]:
total=100
country="AU"
if country =="US":
    if total <=50:
        print("Shipping cost is $50")
elif total<=100:
    print("Shipping cost is $50")
elif total<=150:
    print("Shipping cost is $5")
else:
    print("Shipping is free")

Shipping cost is $50

In [37]:
#if country == "AU":
#   if total <= 50:
#     print("Shipping Cost is $100")
#else:
#     print("FREE")

In [40]:
total=100
country="AU"

if country=="AU":
    if total<=50:
        print("Shipping cost is $100")
    else:
        print("Your Shipping is Free")

Your Shipping is Free

In [41]:
#Task : write a program to find even or odd using for loop /range function.
#Soln.
#for num in range(2, 10):
#... if num % 2 == 0:
#... print("Found an even number", num)
#... continue
#... print("Found a number", num)

In [49]:
for num in range(2,10):
    if num%2==0:
        print("Its a even number",num)
    else:
        continue
        print("Found a number",num)

Its a even number 2
Its a even number 4
Its a even number 6
Its a even number 8

In [75]:
#Task :write two different loops for break if x is even number and continue when the number is divided 
# by 5.
##Soln.
## use the break and continue statements
#for x in range (10,20):
#   if (x == 15): break
#   #if (x % 2 == 0) : continue
#   print(x)

In [74]:
for x in range(10,20):
    if x==15:
        break
    elif x%2==0:
        continue
    print(x)

11
13

In [76]:
## use the break and continue statements
#for x in range (10,20):
#   #if (x == 15): break
#   if (x % 5 == 0) : continue
#   print(x)

In [80]:
for x in range(10,20):
    if x==15:
        break
    if (x%5==0):
        continue
    print(x)

11
12
13
14

In [81]:
#Task:
#Display numbers divisible by 5 from a list.Iterate the given list of numbers and print only those
#numbers which are divisible by 5.
#Solution:
#num_list = [10, 20, 33, 46, 55]
#print("Given list:", num_list)
#print('Divisible by 5:')
#for num in num_list:
#    if num % 5 == 0:
#        print(num)

In [82]:
num=[10,20,33,46,55]

In [84]:
for x in num:
    if x%5==0:
        print(x)

10
20
55

In [85]:
#Task:
#Calculate the sum of all numbers from 1 to a given number
#Solution:
## s: store sum of all numbers
#s = 0
#n = int(input("Enter number "))
## run loop n times
## stop: n+1 (because range never include stop number in result)
#for i in range(1, n + 1, 1):
#    # add current number to sum variable
#    s =s+i
#print("\n")
#print("Sum is: ", s)

In [93]:
num=int(input("Enter a number"))
sum=0
for i in range(1,num+1):
    sum=sum+i
print(sum,"\n")
print("Sum is: ",sum)

Enter a number5
15

Sum is:  15

In [94]:
#Task:
#Write a program to print multiplication table of a given number
#Solution:
#n = 2
## stop: 11 (because range never include stop number in result)
## run loop 10 times
#for i in range(1, 11, 1):
#    # 2 *i (current number)
#    product = n * i
#    print(product)

In [97]:
n=int(input("Enter a number"))
for i in range(1,11):
    print(f"{n}X{i}={n*i}")

Enter a number5
5X1=5
5X2=10
5X3=15
5X4=20
5X5=25
5X6=30
5X7=35
5X8=40
5X9=45
5X10=50

In [98]:
#Practice below codes for list comprehension
#
#vec = [-4, -2, 0, 2, 4]
#
# # create a new list with the values doubled
#
# [x*2 for x in vec]
#

In [99]:
vec = [-4, -2, 0, 2, 4]

In [110]:
sal=[x*2 for x in vec]

In [111]:
sal

[-8, -4, 0, 4, 8]

In [112]:
## filter the list to exclude negative numbers
#
#[x for x in vec if x >= 0]
#

In [114]:
sal

[-8, -4, 0, 4, 8]

In [116]:
pal=[kel for kel in sal if kel>=0]

In [118]:
pal

[0, 4, 8]

In [119]:
## apply a function to all the elements
#[abs(x) for x in vec]

In [120]:
vec

[-4, -2, 0, 2, 4]

In [123]:
bel=[abs(x)for x in vec]

In [124]:
bel

[4, 2, 0, 2, 4]

In [125]:
# # call a method on each element
#freshfruit = [' banana', ' loganberry ', 'passion fruit ']
#[weapon.strip() for weapon in freshfruit]

In [140]:
fresh_fruits=["  Banana     ","Loganberry","Passion Fruit"]

In [141]:
fruits=[weapon.strip()for weapon in fresh_fruits]

In [142]:
fruits

['Banana', 'Loganberry', 'Passion Fruit']

In [143]:
## create a list of 2-tuples like (number, square)
#[(x, x**2) for x in range(6)]
#see the output :
#[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [145]:
[(y,y**2)for y in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [146]:
##To loop over a sequence in sorted order, use the sorted() function which returns a new sorted
# list while
#leaving the source unaltered.
#basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
#for f in sorted(set(basket)):
#... print(f)

In [147]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [149]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [150]:
# #To loop over a sequence in reverse, first specify the sequence in a forward direction and then
# call the
# reversed() function.
# for i in reversed(range(1, 10, 2)):
# ... print(i)

In [152]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [153]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [ ]:
#Student of Datatrained - Saurav
#Student of Data Science
#Date-04-july-2022
#Time-14:02